<section>


    <div class="text-center w-[80%] mx-auto">

      <img src="/images/Group 2167.png" class="w-full h-[400px] " alt=""/>

      
    </div>



 
</section>





<section class="mt-6 ">
  <h2 class="text-3xl font-medium text-[#8B5E35]">Popular Categories</h2>

  <div class=" text-center grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-10">

      <div class=" border rounded-md  shadow ">

        <div class="card-img">
          <img src="/images/screen.jpg" class="w-full h-[250px] object-contain" alt="screen" />
        </div>

        <div class="card-body px-2 py-4">
          <h3 class="font-medium">Electronics</h3>
          
        </div>

    </div>

    <div class=" border rounded-md shadow">

      <div class="card-img">
        <img src="/images/clothes.jpg" class="w-full h-[250px] object-contain" alt="men's shirt" />
      </div>

      <div class="card-body px-2 py-4">
        <h3 class="font-medium">Men's wear</h3>
        
      </div>

    </div>


    <div class=" border rounded-md shadow">

      <div class="card-img">
        <img src="/images/womens.jpg" class="w-full h-[250px] object-contain" alt="women's shirt" />
      </div>

      <div class="card-body px-2 py-4">
        <h3 class="font-medium">Women's Wear</h3>
        
      </div>

    </div>

    <div class=" border rounded-md shadow">

      <div class="card-img">
        <img src="/images/ring.jpg" class="w-full h-[250px] object-contain" alt="ring" />
      </div>

      <div class="card-body px-2 py-4">
        <h3 class="font-medium">Jewellery</h3>
        
      </div>

    </div>

  </div>



  <button [routerLink]="['/products']" class="btn-main mt-5">View Products <i class="fa-solid fa-arrow-right"></i></button>



  
</section>
